
Include/*
Lib/*
material/*
tcl/*
venv/*
*.zip
Scripts/*
*.pyc
*.json
*.pdf
*.docx
*.txt
*.tar.gz
*.html
*.txt
uoa-dit-ai-ex0/
.idea/*
uoa-dit-ai-ex1/search/.idea/
uoa-dit-ai-ex1/2gzip/
uoa-dit-ai-ex2/2gzip/
uoa-dit-ai-ex2/multiagent/.idea/
uoa-dit-ai-ex3/2gzip/
uoa-dit-ai-ex4/2gzip/
