
Include/*
Lib/*
material/*
tcl/*
venv/*
*.zip
Scripts/*
*.pyc
*.json
*.pdf
*.docx
*.txt
*.tar.gz
*.html
*.txt
uoa-dit-ai-ex0/
.idea/*
uoa-dit-ai-ex1/search/.idea/
uoa-dit-ai-ex1/2gzip/
uoa-dit-ai-ex2/2gzip/
uoa-dit-ai-ex2/multiagent/.idea/
uoa-dit-ai-ex3/2gzip/
uoa-dit-ai-ex4/2gzip/
/uoa-dit-ai-ex2/.idea/.gitignore
/uoa-dit-ai-ex3/.idea/.gitignore
/uoa-dit-ai-ex3/.idea/.name
/uoa-dit-ai-ex2/multiagent/test_cases/q4/0-expectimax1.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/0-expectimax1.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/0-lecture-6-tree.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/0-lecture-6-tree.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/0-lecture-6-tree.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/0-lecture-6-tree.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/0-small-tree.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/0-small-tree.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/0-small-tree.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/0-small-tree.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-1-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-1-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-1-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-1-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-2-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-2-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-2-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-2-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-3-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-3-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-3-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-3-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-4-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-4-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-4-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-4-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-5-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-5-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-5-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-5-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-6-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-6-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-6-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-6-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-7-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-7-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-7-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-7-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-8-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-8-minmax.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/1-8-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/1-8-minmax.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/1-expectimax2.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/1-expectimax2.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-1a-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-1a-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-1a-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-1a-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-1b-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-1b-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-1b-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-1b-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-2a-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-2a-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-2a-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-2a-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-2b-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-2b-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-2b-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-2b-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-3a-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-3a-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-3a-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-3a-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-3b-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-3b-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-3b-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-3b-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-4a-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-4a-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-4a-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-4a-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-4b-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-4b-vary-depth.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-4b-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-4b-vary-depth.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-one-ghost-3level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-one-ghost-3level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/2-one-ghost-3level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/2-one-ghost-3level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/2-one-ghost-3level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/2-one-ghost-3level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/3-one-ghost-4level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/3-one-ghost-4level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/3-one-ghost-4level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/3-one-ghost-4level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/3-one-ghost-4level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/3-one-ghost-4level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/4-two-ghosts-3level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/4-two-ghosts-3level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/4-two-ghosts-3level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/4-two-ghosts-3level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/4-two-ghosts-3level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/4-two-ghosts-3level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/5-two-ghosts-4level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/5-two-ghosts-4level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/5-two-ghosts-4level.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/5-two-ghosts-4level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/5-two-ghosts-4level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/5-two-ghosts-4level.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-1a-check-depth-one-ghost.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-1a-check-depth-one-ghost.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-1b-check-depth-one-ghost.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-1b-check-depth-one-ghost.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-1c-check-depth-one-ghost.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-1c-check-depth-one-ghost.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-2a-check-depth-two-ghosts.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-2a-check-depth-two-ghosts.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-2b-check-depth-two-ghosts.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-2b-check-depth-two-ghosts.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-2c-check-depth-two-ghosts.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/6-2c-check-depth-two-ghosts.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/6-tied-root.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/6-tied-root.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/6-tied-root.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/6-tied-root.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-1a-check-depth-one-ghost.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-1a-check-depth-one-ghost.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-1a-check-depth-one-ghost.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-1a-check-depth-one-ghost.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-1b-check-depth-one-ghost.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-1b-check-depth-one-ghost.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-1b-check-depth-one-ghost.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-1b-check-depth-one-ghost.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-1c-check-depth-one-ghost.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-1c-check-depth-one-ghost.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-1c-check-depth-one-ghost.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-1c-check-depth-one-ghost.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-2a-check-depth-two-ghosts.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-2a-check-depth-two-ghosts.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-2a-check-depth-two-ghosts.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-2a-check-depth-two-ghosts.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-2b-check-depth-two-ghosts.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-2b-check-depth-two-ghosts.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-2b-check-depth-two-ghosts.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-2b-check-depth-two-ghosts.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-2c-check-depth-two-ghosts.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-2c-check-depth-two-ghosts.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/7-2c-check-depth-two-ghosts.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/7-2c-check-depth-two-ghosts.test
/uoa-dit-ai-ex2/multiagent/test_cases/q4/7-pacman-game.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q4/7-pacman-game.test
/uoa-dit-ai-ex2/multiagent/test_cases/q2/8-pacman-game.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q3/8-pacman-game.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q2/8-pacman-game.test
/uoa-dit-ai-ex2/multiagent/test_cases/q3/8-pacman-game.test
/uoa-dit-ai-ex1/search/test_cases/q4/astar_0.solution
/uoa-dit-ai-ex1/search/test_cases/q4/astar_0.test
/uoa-dit-ai-ex1/search/test_cases/q4/astar_1_graph_heuristic.solution
/uoa-dit-ai-ex1/search/test_cases/q4/astar_1_graph_heuristic.test
/uoa-dit-ai-ex1/search/test_cases/q4/astar_2_manhattan.solution
/uoa-dit-ai-ex1/search/test_cases/q4/astar_2_manhattan.test
/uoa-dit-ai-ex1/search/test_cases/q4/astar_3_goalAtDequeue.solution
/uoa-dit-ai-ex1/search/test_cases/q4/astar_3_goalAtDequeue.test
/uoa-dit-ai-ex1/search/autograder.py
/uoa-dit-ai-ex2/multiagent/autograder.py
/uoa-dit-ai-ex1/search/layouts/bigCorners.lay
/uoa-dit-ai-ex1/search/layouts/bigMaze.lay
/uoa-dit-ai-ex1/search/layouts/bigSafeSearch.lay
/uoa-dit-ai-ex1/search/layouts/bigSearch.lay
/uoa-dit-ai-ex1/search/layouts/boxSearch.lay
/uoa-dit-ai-ex1/search/layouts/capsuleClassic.lay
/uoa-dit-ai-ex2/multiagent/layouts/capsuleClassic.lay
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_1.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_1.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_2.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_2.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_3.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_3.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_4.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_4.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_5.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_5.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_6.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_6.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_7.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_7.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_8.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_8.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_9.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_9.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_10.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_10.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_11.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_11.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_12.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_12.test
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_13.solution
/uoa-dit-ai-ex1/search/test_cases/q8/closest_dot_13.test
/uoa-dit-ai-ex1/search/test_cases/q1/CONFIG
/uoa-dit-ai-ex1/search/test_cases/q2/CONFIG
/uoa-dit-ai-ex1/search/test_cases/q3/CONFIG
/uoa-dit-ai-ex1/search/test_cases/q4/CONFIG
/uoa-dit-ai-ex1/search/test_cases/q5/CONFIG
/uoa-dit-ai-ex1/search/test_cases/q6/CONFIG
/uoa-dit-ai-ex1/search/test_cases/q7/CONFIG
/uoa-dit-ai-ex1/search/test_cases/q8/CONFIG
/uoa-dit-ai-ex1/search/test_cases/CONFIG
/uoa-dit-ai-ex2/multiagent/test_cases/extra/CONFIG
/uoa-dit-ai-ex2/multiagent/test_cases/q1/CONFIG
/uoa-dit-ai-ex2/multiagent/test_cases/q2/CONFIG
/uoa-dit-ai-ex2/multiagent/test_cases/q3/CONFIG
/uoa-dit-ai-ex2/multiagent/test_cases/q4/CONFIG
/uoa-dit-ai-ex2/multiagent/test_cases/q5/CONFIG
/uoa-dit-ai-ex2/multiagent/test_cases/CONFIG
/uoa-dit-ai-ex1/search/layouts/contestClassic.lay
/uoa-dit-ai-ex2/multiagent/layouts/contestClassic.lay
/uoa-dit-ai-ex1/search/layouts/contoursMaze.lay
/uoa-dit-ai-ex1/search/test_cases/q6/corner_sanity_1.solution
/uoa-dit-ai-ex1/search/test_cases/q6/corner_sanity_1.test
/uoa-dit-ai-ex1/search/test_cases/q6/corner_sanity_2.solution
/uoa-dit-ai-ex1/search/test_cases/q6/corner_sanity_2.test
/uoa-dit-ai-ex1/search/test_cases/q6/corner_sanity_3.solution
/uoa-dit-ai-ex1/search/test_cases/q6/corner_sanity_3.test
/uoa-dit-ai-ex1/search/test_cases/q5/corner_tiny_corner.solution
/uoa-dit-ai-ex1/search/test_cases/q5/corner_tiny_corner.test
/uoa-dit-ai-ex3/csp_working.py
/uoa-dit-ai-ex1/search/eightpuzzle.py
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_1.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_1.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_2.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_2.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_3.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_3.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_4.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_4.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_5.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_5.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_6.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_6.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_7.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_7.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_8.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_8.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_9.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_9.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_10.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_10.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_11.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_11.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_12.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_12.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_13.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_13.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_14.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_14.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_15.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_15.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_16.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_16.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_17.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_17.test
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_grade_tricky.solution
/uoa-dit-ai-ex1/search/test_cases/q7/food_heuristic_grade_tricky.test
/uoa-dit-ai-ex1/search/game.py
/uoa-dit-ai-ex2/multiagent/game.py
/uoa-dit-ai-ex1/search/ghostAgents.py
/uoa-dit-ai-ex2/multiagent/ghostAgents.py
/uoa-dit-ai-ex2/multiagent/test_cases/q1/grade-agent.solution
/uoa-dit-ai-ex2/multiagent/test_cases/q5/grade-agent.solution
/uoa-dit-ai-ex2/multiagent/test_cases/extra/grade-agent.test
/uoa-dit-ai-ex2/multiagent/test_cases/q1/grade-agent.test
/uoa-dit-ai-ex2/multiagent/test_cases/q5/grade-agent.test
/uoa-dit-ai-ex1/search/grading.py
/uoa-dit-ai-ex2/multiagent/grading.py
/uoa-dit-ai-ex1/search/test_cases/q1/graph_backtrack.solution
/uoa-dit-ai-ex1/search/test_cases/q2/graph_backtrack.solution
/uoa-dit-ai-ex1/search/test_cases/q3/graph_backtrack.solution
/uoa-dit-ai-ex1/search/test_cases/q4/graph_backtrack.solution
/uoa-dit-ai-ex1/search/test_cases/q1/graph_backtrack.test
/uoa-dit-ai-ex1/search/test_cases/q2/graph_backtrack.test
/uoa-dit-ai-ex1/search/test_cases/q3/graph_backtrack.test
/uoa-dit-ai-ex1/search/test_cases/q4/graph_backtrack.test
/uoa-dit-ai-ex1/search/test_cases/q1/graph_bfs_vs_dfs.solution
/uoa-dit-ai-ex1/search/test_cases/q2/graph_bfs_vs_dfs.solution
/uoa-dit-ai-ex1/search/test_cases/q3/graph_bfs_vs_dfs.solution
/uoa-dit-ai-ex1/search/test_cases/q1/graph_bfs_vs_dfs.test
/uoa-dit-ai-ex1/search/test_cases/q2/graph_bfs_vs_dfs.test
/uoa-dit-ai-ex1/search/test_cases/q3/graph_bfs_vs_dfs.test
/uoa-dit-ai-ex1/search/test_cases/q1/graph_infinite.solution
/uoa-dit-ai-ex1/search/test_cases/q2/graph_infinite.solution
/uoa-dit-ai-ex1/search/test_cases/q3/graph_infinite.solution
/uoa-dit-ai-ex1/search/test_cases/q1/graph_infinite.test
/uoa-dit-ai-ex1/search/test_cases/q2/graph_infinite.test
/uoa-dit-ai-ex1/search/test_cases/q3/graph_infinite.test
/uoa-dit-ai-ex1/search/test_cases/q1/graph_manypaths.solution
/uoa-dit-ai-ex1/search/test_cases/q2/graph_manypaths.solution
/uoa-dit-ai-ex1/search/test_cases/q3/graph_manypaths.solution
/uoa-dit-ai-ex1/search/test_cases/q4/graph_manypaths.solution
/uoa-dit-ai-ex1/search/test_cases/q1/graph_manypaths.test
/uoa-dit-ai-ex1/search/test_cases/q2/graph_manypaths.test
/uoa-dit-ai-ex1/search/test_cases/q3/graph_manypaths.test
/uoa-dit-ai-ex1/search/test_cases/q4/graph_manypaths.test
/uoa-dit-ai-ex1/search/graphicsDisplay.py
/uoa-dit-ai-ex2/multiagent/graphicsDisplay.py
/uoa-dit-ai-ex1/search/graphicsUtils.py
/uoa-dit-ai-ex2/multiagent/graphicsUtils.py
/uoa-dit-ai-ex1/search/layouts/greedySearch.lay
/uoa-dit-ai-ex4/groups_proof
/uoa-dit-ai-ex4/gruffalo.jpg
/uoa-dit-ai-ex3/helper.py
/uoa-dit-ai-ex3/kenken.py
/uoa-dit-ai-ex1/search/keyboardAgents.py
/uoa-dit-ai-ex2/multiagent/keyboardAgents.py
/uoa-dit-ai-ex1/search/layout.py
/uoa-dit-ai-ex2/multiagent/layout.py
/uoa-dit-ai-ex1/search/test_cases/q6/medium_corners.solution
/uoa-dit-ai-ex1/search/test_cases/q6/medium_corners.test
/uoa-dit-ai-ex1/search/layouts/mediumClassic.lay
/uoa-dit-ai-ex2/multiagent/layouts/mediumClassic.lay
/uoa-dit-ai-ex1/search/layouts/mediumCorners.lay
/uoa-dit-ai-ex1/search/layouts/mediumDottedMaze.lay
/uoa-dit-ai-ex1/search/layouts/mediumMaze.lay
/uoa-dit-ai-ex1/search/layouts/mediumSafeSearch.lay
/uoa-dit-ai-ex1/search/layouts/mediumScaryMaze.lay
/uoa-dit-ai-ex1/search/layouts/mediumSearch.lay
/uoa-dit-ai-ex1/search/layouts/minimaxClassic.lay
/uoa-dit-ai-ex2/multiagent/layouts/minimaxClassic.lay
/uoa-dit-ai-ex2/.idea/misc.xml
/uoa-dit-ai-ex3/.idea/misc.xml
/uoa-dit-ai-ex2/.idea/modules.xml
/uoa-dit-ai-ex3/.idea/modules.xml
/uoa-dit-ai-ex2/multiagent/multiagentTestClasses.py
/uoa-dit-ai-ex1/search/layouts/oddSearch.lay
/uoa-dit-ai-ex1/search/layouts/openClassic.lay
/uoa-dit-ai-ex2/multiagent/layouts/openClassic.lay
/uoa-dit-ai-ex1/search/layouts/openMaze.lay
/uoa-dit-ai-ex1/search/layouts/openSearch.lay
/uoa-dit-ai-ex1/search/layouts/originalClassic.lay
/uoa-dit-ai-ex2/multiagent/layouts/originalClassic.lay
/uoa-dit-ai-ex1/search/pacman.py
/uoa-dit-ai-ex2/multiagent/pacman.py
/uoa-dit-ai-ex1/search/test_cases/q1/pacman_1.solution
/uoa-dit-ai-ex1/search/test_cases/q2/pacman_1.solution
/uoa-dit-ai-ex1/search/test_cases/q1/pacman_1.test
/uoa-dit-ai-ex1/search/test_cases/q2/pacman_1.test
/uoa-dit-ai-ex1/search/pacmanAgents.py
/uoa-dit-ai-ex2/multiagent/pacmanAgents.py
/uoa-dit-ai-ex2/plan.png
/uoa-dit-ai-ex1/search/layouts/powerClassic.lay
/uoa-dit-ai-ex2/.idea/inspectionProfiles/profiles_settings.xml
/uoa-dit-ai-ex3/.idea/inspectionProfiles/profiles_settings.xml
/uoa-dit-ai-ex1/project1.xml
/uoa-dit-ai-ex2/.idea/project2.iml
/uoa-dit-ai-ex2/.idea/inspectionProfiles/Project_Default.xml
/uoa-dit-ai-ex3/.idea/inspectionProfiles/Project_Default.xml
/uoa-dit-ai-ex1/search/projectParams.py
/uoa-dit-ai-ex2/multiagent/projectParams.py
/uoa-dit-ai-ex3/search.py
/uoa-dit-ai-ex1/search/searchTestClasses.py
/uoa-dit-ai-ex1/search/layouts/smallClassic.lay
/uoa-dit-ai-ex2/multiagent/layouts/smallClassic.lay
/uoa-dit-ai-ex1/search/layouts/smallMaze.lay
/uoa-dit-ai-ex1/search/layouts/smallSafeSearch.lay
/uoa-dit-ai-ex1/search/layouts/smallSearch.lay
/uoa-dit-ai-ex1/search/submission_autograder.py
/uoa-dit-ai-ex1/search/testClasses.py
/uoa-dit-ai-ex2/multiagent/testClasses.py
/uoa-dit-ai-ex1/search/layouts/testClassic.lay
/uoa-dit-ai-ex2/multiagent/layouts/testClassic.lay
/uoa-dit-ai-ex1/search/layouts/testMaze.lay
/uoa-dit-ai-ex1/search/testParser.py
/uoa-dit-ai-ex2/multiagent/testParser.py
/uoa-dit-ai-ex1/search/tests.py
/uoa-dit-ai-ex1/search/layouts/testSearch.lay
/uoa-dit-ai-ex1/search/textDisplay.py
/uoa-dit-ai-ex2/multiagent/textDisplay.py
/uoa-dit-ai-ex1/search/layouts/tinyCorners.lay
/uoa-dit-ai-ex1/search/layouts/tinyMaze.lay
/uoa-dit-ai-ex1/search/layouts/tinySafeSearch.lay
/uoa-dit-ai-ex1/search/layouts/tinySearch.lay
/uoa-dit-ai-ex1/search/layouts/trappedClassic.lay
/uoa-dit-ai-ex2/multiagent/layouts/trappedClassic.lay
/uoa-dit-ai-ex1/search/layouts/trickyClassic.lay
/uoa-dit-ai-ex2/multiagent/layouts/trickyClassic.lay
/uoa-dit-ai-ex1/search/layouts/trickySearch.lay
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_0_graph.solution
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_0_graph.test
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_1_problemC.solution
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_1_problemC.test
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_2_problemE.solution
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_2_problemE.test
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_3_problemW.solution
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_3_problemW.test
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_4_testSearch.solution
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_4_testSearch.test
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_5_goalAtDequeue.solution
/uoa-dit-ai-ex1/search/test_cases/q3/ucs_5_goalAtDequeue.test
/uoa-dit-ai-ex4/unifiers.pl
/uoa-dit-ai-ex3/.idea/uoa-dit-ai-ex3.iml
/uoa-dit-ai-ex1/search/util.py
/uoa-dit-ai-ex2/multiagent/util.py
/uoa-dit-ai-ex3/utils.py
/uoa-dit-ai-ex2/multiagent/v
/uoa-dit-ai-ex2/.idea/vcs.xml
/uoa-dit-ai-ex1/search/VERSION
/uoa-dit-ai-ex2/multiagent/VERSION
/uoa-dit-ai-ex3/worksheetnums.xlsx
/uoa-dit-ai-ex2/~WRL2152.tmp
